In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [3]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
test_df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
train_df['Gender'] = train_df['Gender'].fillna('Male')

In [7]:
test_df['Gender'] = test_df['Gender'].fillna('Male')

In [8]:
le = preprocessing.LabelEncoder()

In [9]:
train_df['Gender'] = le.fit_transform(train_df['Gender'])

In [10]:
train_df['Gender'].head()

0    1
1    1
2    1
3    1
4    1
Name: Gender, dtype: int64

In [11]:
test_df['Gender'] = le.fit_transform(test_df['Gender'])

In [12]:
train_df['Married'] = train_df['Married'].fillna('Yes')
test_df['Married'] = test_df['Married'].fillna('Yes')

In [13]:
train_df['Married'] = le.fit_transform(train_df['Married'])

In [14]:
test_df['Married'] = le.fit_transform(test_df['Married'])

In [15]:
train_df['Dependents'] = train_df['Dependents'].fillna('3+')
test_df['Dependents'] = test_df['Dependents'].fillna('3+')

In [16]:
train_df['Dependents'] = le.fit_transform(train_df['Dependents'])

In [17]:
test_df['Dependents'] = le.fit_transform(test_df['Dependents'])

In [18]:
train_df['Self_Employed'] = train_df['Self_Employed'].fillna('Yes')
test_df['Self_Employed'] = test_df['Self_Employed'].fillna('Yes')

In [19]:
train_df['Self_Employed'] = le.fit_transform(train_df['Self_Employed'])

In [20]:
test_df['Self_Employed'] = le.fit_transform(test_df['Self_Employed'])

In [21]:
train_df['Education'] = le.fit_transform(train_df['Education'])

In [22]:
test_df['Education'] = le.fit_transform(test_df['Education'])

In [23]:
train_df['LoanAmount'] = train_df['LoanAmount'].fillna(train_df['LoanAmount'].mean())

In [24]:
test_df['LoanAmount'] = test_df['LoanAmount'].fillna(test_df['LoanAmount'].mean())

In [25]:
train_df['Loan_Amount_Term'] = train_df['Loan_Amount_Term'].fillna(train_df['Loan_Amount_Term'].mean())

In [26]:
test_df['Loan_Amount_Term'] = test_df['Loan_Amount_Term'].fillna(test_df['Loan_Amount_Term'].mean())

In [27]:
train_df['Credit_History'] = train_df['Credit_History'].fillna(0.0)

In [28]:
test_df['Credit_History'] = test_df['Credit_History'].fillna(0.0)

In [29]:
train_df['Property_Area'] = le.fit_transform(train_df['Property_Area'])

In [30]:
test_df['Property_Area'] = le.fit_transform(test_df['Property_Area'])

In [31]:
train_df['Loan_Status'] = le.fit_transform(train_df['Loan_Status'])

In [33]:
train_df.head()
x = train_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
train_df = pandas.DataFrame(x_scaled)

ValueError: could not convert string to float: 'LP001002'

In [57]:
train_X = train_df.iloc[: , 1:12]

In [58]:
train_X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2
1,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2

In [60]:
train_y = train_df.iloc[: , -1]

In [62]:
test_X = test_df.iloc[: , 1:]

In [63]:
test_X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,0.0,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2

In [73]:
from sklearn.linear_model import LogisticRegression

In [74]:
cls = LogisticRegression().fit(train_X , train_y)

In [67]:
result = pd.DataFrame()

In [69]:
result['Loan_ID'] = test_df['Loan_ID']

In [81]:
result['Loan_Status'] = cls.predict(test_X)
result.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            0
4  LP001051            1

In [82]:
result['Loan_Status'].dtype

dtype('int64')

In [83]:
result['Loan_Status'] = result['Loan_Status'].map({1 : "Y" , 0 : "N"})

In [84]:
result.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           N
4  LP001051           Y

In [86]:
result.to_csv("submission.csv" , index=False)